@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;900&display=swap');

*{
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #F1FAEE;
    font-size: 18px;
}
nav.navbar {
    background-color:#E63946;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}
nav .nav-item button {
    background-color: #1d3557;
    border-radius: 50px;
    width: 220px;
    height: 40px;
    font-size: 24px;
}
nav .nav-item button a {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}
nav div.container-fluid a.navbar-brand {
    font-style: normal;
    width: 181px;
    height: 70.63px;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
}
nav div.container-fluid div.collapse ul {
    gap: 30px;
}
nav div.container-fluid div.collapse ul li>a {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}

section.hero div.right h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    color: #1D3557;

}
section.hero div.right h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: #1D3557;
    ;
}
section.hero div.right button {
    background: #FFB703;
    border-radius: 0px 69px;
    width: 271px;
    height: 67px;

}
section.hero div.right button a {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #1D3557;
}

section.whatWeDo div.row div {
    background-color: #E63946;
    width: 376px;
    height: 339px;
    border-radius: 15px;
    align-content: center;
}
section.whatWeDo div.container-md h1 {
    color: #1d3557;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin: 50px 0;
}
section.whatWeDo div.row div img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 20px auto;
}
section.whatWeDo div.row div li {
    list-style: none;
    color: white;
    margin-right: 5px;
    padding-bottom: 5px;
}
section.whatWeDo div.row div.special {
    text-align: right;
}
section.goal {
    background-color: #A8DADC;
}
section.goal p {
    color: #1d3557;
}
section.goal h1 {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #1d3557;
}

section.courses {
    background-color: #457B9D;
}
section.courses h1.diff{
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: white;
    text-align: center;
}
section.courses div.row div {
    background-color: #E63946;
    width: 375px;
    height: 400px;
    border-radius: 15px;
}
section.courses div.row li {
    list-style: none;
    line-height: 20px;
}
section.courses div.row ul {
    margin: 0;
    padding: 0;
}
section.courses div.row button {
    background: #FFB703;
    border-radius: 0px 69px;
    width: 200px;
    height: 40px;
}
section.courses div.row div.card> h1 {
    color: #1d3557;
}
section.contacts{
    background-color: #1d3557;
}
button.submit{
    background: #FFB703;
    border-radius: 0px 69px;
    width: 200px;
}